<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		<context:property-placeholder location="classpath:sport.properties"/>
		
		<bean id="myHappyFortune"
				class="com.shivank.springdemo.HappyFortuneService">
		</bean>
		
		<bean id="myCoach"
				class="com.shivank.springdemo.TrackCoach">
				<constructor-arg ref="myHappyFortune"></constructor-arg>
		</bean>
		<bean id="myCricketCoach"
				class="com.shivank.springdemo.CricketCoach">
				<property name="fortuneService" ref="myHappyFortune" />
				<property name="emailAddress" value="${foo.email}" />
				<property name="name" value="${foo.name}" />
		</bean>
</beans>